node_modules
dist
build
.vitepress
.vite_opt_cache
.vitepress/cache
.vitepress/temp
.vitepress/dist
.vitepress/build
.vitepress/preview
.vitepress/dev
.vitepress/preview
pnpm-lock.yaml
package-lock.json
yarn.lock
bun.lockb
bun.lock
bun.lock.json
bun.lock.yaml
bun.lock.json